body{
  background:#eee;
  display: flex;
  text-align: center;
  position: relative;right: -7.5cm;
  margin-top: 3cm;
  background-color: rgb(100, 97, 97);
}

.card{
  border:none;
background-color: rgb(176, 189, 200);
  position:relative;
  overflow:hidden;
  border-radius:30px;
  cursor:pointer;
}

.card:before{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#35a8ff;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#3906f3;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  font-size:11px;
}

.social-list{
  display:flex;
  list-style:none;
  justify-content:center;
  padding:0;
}

.social-list li{
  padding:10px;
  color:#8E24AA;
  font-size:19px;
}


.buttons button:nth-child(1){
     border:1px solid #082bd8 !important;
     color:#1843ed;
     height:40px;
}

.buttons button:nth-child(1):hover{
     border:1px solid #0b1bf5 !important;
     color:#fff;
     height:40px;
     background-color:#1341fa;
}

.buttons button:nth-child(2){
     border:1px solid #1837d4 !important;
     background-color:#2038bd;
     color:#fff;
      height:40px;
}

.img{
  margin: 2cm 0 1cm 0;
  
}
.name{
  font-size: 30px;
  margin: 0 0 1cm;
  color: rgba(25, 48, 199, 0.838);
}
.pro{
  font-size: 20px;
  text-align: center;
  margin: 0 2cm 0cm 2cm;
  color:rgb(40, 151, 236);
 
}
.bio{
  color: rgb(107, 106, 106);
  margin: 0.5cm 3cm 1cm 3cm ;
  font-size: 20px;
}